ovmf-x64
kernel/includes/gdt.h
kernel/includes/idt.h
kernel/gdt.c
kernel/includes/com.h
kernel/includes/keyboard.sh
kernel/keyboard.sc
kernel/includes/svga.h
kernel/includes/vga.h
kernel/includes/svga.sh
kernel/includes/vga.sh
kernel/svga.c
kernel/svga.sc
kernel/vga.sc
kernel/includes/pic.h
kernel/includes/pit.h
kernel/includes/apic.h
kernel/pic.c
kernel/includes/AC-97.h
kernel/AC-97.c
kernel/pit.c
kernel/apic.c
kernel/vga.c
kernel/com.c
kernel/idt.c
*.elf
*.iso
*.hdd
*.o
*.d
